
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
body{
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #dddddd;
}
.container{
    width: 500px;
    height: auto;
    background-color: #fff;
    margin: 3rem auto;
}
.button-header{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.button-header button{
    border: 2px solid #0066cc;
    padding: .3rem .5rem;
    border-radius: 4px;
    cursor: pointer;
}
.items-checked-text{
    font-size: 1rem;
    color: rgb(99, 99, 99);
    margin-right: 1rem;
    width: 155px;
}
.check-all-button{
    color: #fff;
    background-color: #0066cc;
    margin-right: .3rem;
}
.uncheck-all-button{
    color: #0066cc;
    background-color: #fff;
    margin-right: .3rem;
}
.remove-checked-button{
    border-color: rgb(138, 1, 1) !important;
    color: #fff;
    background-color: rgb(138, 1, 1);
}
.button-header button:hover{
    border: 2px solid #333 !important;
    padding: .3rem .5rem;
    border-radius: 4px;
    cursor: pointer;
}
.items-container{
    width: 100%;
    height: auto; 
}
table {
    border-collapse:separate; 
    border-spacing: 0 .5em;
    width: 95%;
    margin: 0 auto;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 1rem 0 1rem .5rem;
  }
  td{
    width: 30%;
  }
  tr.active{
    text-decoration: line-through;
    background-color: #dddddd;
  }